.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #5aaafa;
  height: 250px;
  padding: 50px;
  color: white;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

button {
  margin-top: 50px;
  padding-top: 0px;
  background: white;
  font-size: 20px;
  height: 125px;
  width: 175px;
  border-radius: 10px;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif
}